extends layout

block headContent
	title Address #{address}

block content
	if (result && result.validateaddress)
		if (!result.validateaddress.isvalid)
			div.alert.alert-danger.mb-huge
				h1.h6.fw-bold Invalid Address
				span.font-monospace #{address}
				
		else
			.clearfix
				.float-start
					+pageTitle("Address", address, true)

			.alert.alert-info.shadow-sm.mb-4(style="max-width: 400px;")
				h5.alert-heading Balance
				if (addressDetails && addressDetails.balanceSat)
					span.h4
						- var currencyValue = new Decimal(addressDetails.balanceSat).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
						include ./includes/value-display.pug
				else
					span.h4 0 DIL
									

		
